---
layout: default
cover: '/images/wedding-robots-banner.jpg'
---

<p>Nerd Guide DC is devoted towards science, technology, and
intellectual activities and events in the Washington DC area.
Whether you're interested in science, technology, engineering,
and/or mathematics, we've got you covered.
<p>
<div class="home">

    {% assign currentDate = 'now' | date: '%s' | plus: 0 %}
    {% assign thirtyDaysAgo = 'now' | date: '%s' | minus : 2592000 %}

    <div class="clearfix">

	   <h1 class="event-time-heading fix-top">Recurring {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>

      {% for post in site.posts reversed %}

        {% if post.repeat_every %}
        {% else %}
            {% continue %}
        {% endif %}

        <a href="{{ post.url | prepend: site.baseurl }}">
		  {% if post.cover %}
		  <div class="event-square" style="background-image:url({{post.cover | replace_first: '/images', '/images/thumbnails'}});">
		  {% else %}
		  <div class="event-square" style="background-image:url(/images/wedding-robots-banner.jpg);">
		  {% endif %}
		    <h2>{{ post.title }} <span>{{ post.repeat_every }}</span></h2>
		    <div class='event-square-overlay'></div>
		  </div>
        </a>

      {% endfor %}
    </div><p>

    <div class="clearfix">

      <h1 class="event-time-heading fix-top">Upcoming {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>

      {% for post in site.posts reversed %}

        {% if post.repeat_every %}
            {% continue %}
        {% endif %}

        {% assign endDate = post.endDate | date: '%s' | plus: 0 %}
        {% assign startYMD = post.date | date: '%b %-d, %Y' %}
        {% assign endYMD = post.endDate | date: '%b %-d, %Y' %}

        {% if endDate >= currentDate %}

          <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.cover %}
            <div class="event-square" style="background-image:url({{post.cover | replace_first: '/images', '/images/thumbnails' }});">
            {% else %}
            <div class="event-square" style="background-image:url(/images/wedding-robots-banner.jpg);">
            {% endif %}
              <h2>{{ post.title }} <span>{{ startYMD }}{%if startYMD != endYMD %} - {{ endYMD }}{% endif %}</span></h2>
               <div class='event-square-overlay'></div>
            </div>
          </a>

        {% endif %}

      {% endfor %}
    </div>

    <div class="clearfix">

      <h1 class="event-time-heading">Past {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>
      {% for post in site.posts %}

        {% if post.repeat_every %}
	        {% continue %}
        {% endif %}

        {% assign endDate = post.endDate | date: '%s' | plus: 0 %}
        {% assign startYMD = post.date | date: '%b %-d, %Y' %}
        {% assign endYMD = post.endDate | date: '%b %-d, %Y' %}

        {% if endDate < thirtyDaysAgo %}
          {% continue %}
        {% endif %}

        {% if endDate < currentDate %}

          <a href="{{ post.url | prepend: site.baseurl }}">
            {% if post.cover %}
            <div class="event-square" style="background-image:url({{post.cover | replace_first: '/images', '/images/thumbnails'}});">
            {% else %}
            <div class="event-square" style="background-image:url(/images/wedding-robots-banner.jpg);">
            {% endif %}
              <h2>{{ post.title }} <span>{{ startYMD }}{%if startYMD != endYMD %} - {{ endYMD }}{% endif %}</span></h2>
              <div class='event-square-overlay'></div>
            </div>
          </a>

        {% endif %}

      {% endfor %}
    </div>

    <h1 class="event-time-heading">Older events - <a href="/archive">Events Archive</a></h1>

</div>
