---
layout: default
cover: '/images/wedding-robots-banner.jpg'
regenerate: true
---

{% assign image_count = 0 %}
{% assign blazy_count = 5 %}

<p>Nerd Guide DC is devoted towards science, technology, and
intellectual activities and events in the Washington DC area.
Whether you're interested in science, technology, engineering,
and/or mathematics, we've got you covered.
<p>
<div class="home">

    {% assign currentDate = 'now' | date: '%s' | plus: 0 %}
    {% assign thirtyDaysAgo = 'now' | date: '%s' | minus : 2592000 %}

    <div class="clearfix">

	   <h1 class="event-time-heading fix-top">Recurring {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>

      {% for post in site.posts reversed %}{% capture cache %}

        {% if post.repeat_every %}
        {% else %}
            {% continue %}
        {% endif %}

        {% assign image_count = image_count | plus: 1 %}

        {% endcapture %}{% assign cache = nil %}{% if image_count == blazy_count %}{% include blazy.html %}{% endif %}{% capture image_div %}
        {% if post.cover %}
        {% if image_count < blazy_count %}
        <div class="event-square" style="background-image:url({{post.cover | replace_first: '/images', '/images/thumbnails'}});">
        {% else %}
        <div class="event-square b-lazy" data-src="{{post.cover | replace_first: '/images', '/images/thumbnails'}}">
        {% endif %}
        {% else %}
        <div class="event-square" style="background-image:url(/images/wedding-robots-banner.jpg);">
        {% endif %}
        {% endcapture %}<a href="{{ post.url | prepend: site.baseurl }}">
              {{ image_div | strip }}
		          <h2>{{ post.title }} <span>{{ post.repeat_every }}</span></h2>
		          <div class='event-square-overlay'></div>
		        </div>
        </a>
      {% endfor %}
    </div><p>

    <div class="clearfix">

      <h1 class="event-time-heading fix-top">Upcoming {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>

      {% for post in site.posts reversed %}{% capture cache %}

        {% if post.repeat_every %}
            {% continue %}
        {% endif %}

        {% assign endDate = post.endDate | date: '%s' | plus: 0 %}
        {% assign startYMD = post.date | date: '%b %-d, %Y' %}
        {% assign endYMD = post.endDate | date: '%b %-d, %Y' %}

        {% if endDate < currentDate %}
          {% continue %}
        {% endif %}

        {% assign image_count = image_count | plus: 1 %}

        {% endcapture %}{% assign cache = nil %}{% if image_count == blazy_count %}{% include blazy.html %}{% endif %}{% capture image_div %}
        {% if post.cover %}
        {% if image_count < blazy_count %}
        <div class="event-square" style="background-image:url({{post.cover | replace_first: '/images', '/images/thumbnails'}});">
        {% else %}
        <div class="event-square b-lazy" data-src="{{post.cover | replace_first: '/images', '/images/thumbnails'}}">
        {% endif %}
        {% else %}
        <div class="event-square" style="background-image:url(/images/wedding-robots-banner.jpg);">
        {% endif %}
        {% endcapture %}<a href="{{ post.url | prepend: site.baseurl }}">
              {{ image_div | strip }}
              <h2>{{ post.title }} <span>{{ startYMD }}{%if startYMD != endYMD %} - {{ endYMD }}{% endif %}</span></h2>
               <div class='event-square-overlay'></div>
            </div>
          </a>
      {% endfor %}
    </div>

    <div class="clearfix">

      <h1 class="event-time-heading">Past {% if site.event_label %} {{site.event_label}} {% else %} Events {% endif %} </h1>
      {% for post in site.posts %}{% capture cache %}

        {% if post.repeat_every %}
	        {% continue %}
        {% endif %}

        {% assign endDate = post.endDate | date: '%s' | plus: 0 %}
        {% assign startYMD = post.date | date: '%b %-d, %Y' %}
        {% assign endYMD = post.endDate | date: '%b %-d, %Y' %}

        {% if endDate < thirtyDaysAgo %}
          {% continue %}
        {% endif %}

        {% if endDate >= currentDate %}
          {% continue %}
        {% endif %}

        {% assign image_count = image_count | plus: 1 %}

        {% endcapture %}{% assign cache = nil %}{% if image_count == blazy_count %}{% include blazy.html %}{% endif %}{% capture image_div %}
        {% if post.cover %}
        {% if image_count < blazy_count %}
        <div class="event-square" style="background-image:url({{post.cover | replace_first: '/images', '/images/thumbnails'}});">
        {% else %}
        <div class="event-square b-lazy" data-src="{{post.cover | replace_first: '/images', '/images/thumbnails'}}">
        {% endif %}
        {% else %}
        <div class="event-square" style="background-image:url(/images/wedding-robots-banner.jpg);">
        {% endif %}
        {% endcapture %}<a href="{{ post.url | prepend: site.baseurl }}">
              {{ image_div | strip }}
              <h2>{{ post.title }} <span>{{ startYMD }}{%if startYMD != endYMD %} - {{ endYMD }}{% endif %}</span></h2>
              <div class='event-square-overlay'></div>
            </div>
          </a>
      {% endfor %}
    </div>

    <h1 class="event-time-heading">Older Events: <a href="/archive">Events Archive</a></h1>

</div>
