---
layout: default
---

{% assign organiser = site.data.organisers.[page.organiser] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% if organiser.photo %}
        <h3 class="post-organisers-name">By {{organiser.name}}</h3>
    {% endif %}
    <h2 class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%A %B %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h2>
    <h3 class="post-time">From {{ page.start_time}} to {{page.end_time }}</h3>
    {% if page.location %}
    <p>
    <div itemscope itemtype="http://schema.org/Organization">
      <span itemprop="name">{{ page.location.name }}</span>
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">
          {% for addressline in page.location.address %}
            <div>{{ addressline }}</div>
          {% endfor %}
        </span>
        <div>
          <span itemprop="addressLocality">{{ page.location.city }}</span>,
          <span itemprop="addressRegion">{{ page.location.state }}</span>
          <span itemprop="postalCode">{{ page.location.zip }}</span>
        </div>
      </div>
    </div>
    {% endif %}
  </header>

  {% if organiser.photo %}
    <div class="author" style="background-image:url({{organiser.photo}});"></div>
  {% endif %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <small>
  Image attribution:
  <a href="{{ page.attribution.name_url }}">"{{ page.attribution.name }}"</a>
  by
  {% if page.attribution.author_url %}
  <a href="{{ page.attribution.author_url }}">{{ page.attribution.author }}</a>
  {% else %}
  {{ page.attribution.author }}
  {% endif %}
  {% if page.attribution.license %}
  licensed under
  <a href="{{ page.attribution.license_url }}">{{ page.attribution.license }}</a>
  {% endif %}
  </small>

</article>
